/* # VARIABLES */

:root{
  --nav-height-mob: 60px;
  --bottom-bar-height: 47px;
  --mdarkone: #181616;
  --mdarktwo: #252424;
  --mdarkthree: #4b4a4a;
  --mgreyone: #c4c2c2;
  --mgreytwo: #dcdada;
  --mwhite: #f7f3f3;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

body {
  background-color: var(--mdarktwo);
}

/* # UTILITIES */
/* ## Borders */
.mborder-top{
  border-top: 1px solid var(--mdarkthree);
}
.mborder-bottom{
  border-bottom: 1px solid var(--mdarkthree);
}
.mborder-left{
  border-left: 1px solid var(--mdarkthree);
}
.mborder-right{
  border-right: 1px solid var(--mdarkthree);
}
.mborder-x{
  border-top: 1px solid var(--mdarkthree);
  border-bottom: 1px solid var(--mdarkthree);
}
.mborder-y{
  border-left: 1px solid var(--mdarkthree);
  border-right: 1px solid var(--mdarkthree);
}
